<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keyword" content="Python,Flask,FreeBSD,Objective C,Hacker,技术" />
<meta name="description" content="光风的Blog,主要写Python,Flask,FreeBSD,Objective C,Hacker等相关技术文章">
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/guangfeng" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://guangfeng.github.com/atom.xml" />

<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/type.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/gadgets.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen, projection">

 <!--[if IE]>
 <link rel="stylesheet" href="http://www.allapis.com/emastic/css/ie.css" type="text/css" media="screen, projection">
 <![endif]-->

 <style>
  .main{width:90%;}
 </style>
</head>

<body>
<div class="main gridlines">
<div class="clear">&nbsp;</div>
<div class="hp"><h1>{{ page.title }}</h1></div>
<br class="clear" />
<div class="hp clearfix"><p>
	你知道就算大雨让这座城市颠倒
	我会给你怀抱
	受不了看见你背影来到
	写下我度秒如年难捱的离骚
	</p></div>

<div class="dl50">
{{ content }}
</div>

<div class="hp "><p class="pepper-lite tc">guangfeng at me.com  </p></div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10091570-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
